html, body {
    height: 100%;
    background: rgb(255, 251, 241);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.2em;
}

main {
    flex: 1 0 auto;
    padding: 0 1em;
    max-width: 50em;
}

footer {
    flex-shrink: 0;
    padding: 0 1em;
    background-color: rgb(216, 216, 216);
}

footer > p {
    margin: 0.7em 0;
}


/* TODO: Add box shadow to articles */
article > h2 > a {
    text-decoration-style: dotted;
    text-decoration-thickness: 0.1em;
    color: rgb(173, 34, 173);
}

ul[aria-label]::before {
    content: attr(aria-label);
    font-size: 110%;
    font-weight: bold;
    font-style: italic;
    margin-left: -0.5em;
}

.cool-facts {
    display: none;
}
